<%- include('../../partials/header.ejs')%>
<div class="container">
    <form method="POST" action="/articles/save">
        <div class="card">
            <div class="card-header">
                <h1 class="float-left">Articles <small>- New</small></h1>
                <a href="/admin/articles" class="float-right btn btn-secondary">Goback</a>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="lbtitle">Title</label>
                    <input type="text" id="lbtitle" name="title" placeholder="Type your title" class="form-control">
                </div>
                <div class="form-group">
                    <label>Post body</label>
                    <textarea id="article" name="body" placeholder="Type post body" class="form-control" rows="15" ></textarea>
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select name="category" class="form-control">
                        <% category.forEach((item)=>{ %>
                            <option value="<%= item.id %>"><%= item.title %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div>

<%- include('../../partials/footer.ejs')%>

<script src="/js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#article',
        language: 'pt_BR',
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>