<%- include('../../partials/header.ejs')%>
<div class="container">
    <form method="POST" action="/categories/save">
        <div class="card">
            <div class="card-header">
                <h1 class="float-left">Category</h1>
                <a href="/admin/categories" class="float-right btn btn-secondary">Goback</a>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="lbcat">Category</label>
                    <input type="text" id="lbcat" name="title" placeholder="Type your category" class="form-control">
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div>
<%- include('../../partials/footer.ejs')%>