<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        The Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">  
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Categories</a>
                <div class="dropdown-menu">
                    <% categories.forEach((item)=>{%>
                        <a class="dropdown-item" href="/categories/<%=item.slug%>"><%=item.title%></a>    
                    <%})%>
                </div>
            </li>
        </ul>
    </div>
</nav>